<a class="item-action"
   data-item-id="{{this.id}}"
   data-action="select-ammo">
  <i class="fas fa-arrow-right-arrow-left"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.changeAmmo"}}"></i>
</a>
