<a class="install-remove-cyberware" data-item-prop="system.isInstalled">
  <i class="fas fa-microchip icon-button"
     data-tooltip="{{localize "CPR.actorSheets.commonActions.uninstall"}}">
  </i>
</a>
