<div class="item-summary-line">
  <span class="summary-name">
    {{localize (cprFindConfigValue "clothingVarieties" item.system.style)}} {{localize (cprFindConfigValue "clothingTypes" item.system.type)}}
  </span>
</div>
<hr>
